body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{  font-size: 20px;
    margin: 0px;
}

a
{
    text-decoration: none;
    color:white;
    
}

header, footer{
    background-color: #1f2937;
    color:white;
}

.header{
    padding:350px; 
    padding-top: 20px;
    padding-bottom: 150px; 
}

.navigation{
    display:flex;
    justify-content: space-between;
    margin-bottom:150px;
    border-bottom: 5px solid rgb(55, 255, 37);
    padding:20px 30px;
    border-radius: 35px;
    align-items: center;
}
 
 
#header-logo   {
    margin:0;   
    font-size :40px;
    color: #f9faf8; 
}

.header-link a, #hero-secondary, .hero-img, #button1{
    font-size: 20px;
    color:#e5e7eb;
    
}

ul.header-link{
    margin:0;
    padding:0;
    list-style-type:none;
    display: flex;
    gap:20px;

}

section.hero{
    display:flex; 
    justify-content: space-between;
    gap:80px;   
}

.hero-main,.hero-img{       
    /* border:2px solid white; */
    width:500px;
    height: 300px;   
}

.hero-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:10px 0px;
    row-gap: 20px;
}

.main-section1{
    background-color: #1f2937;
    color: white;
    padding:40px;
}
 
#hero-maintext{
    font-size: 60px;
    font-family: "Poppins", serif;
    font-weight: 800;        
    color: #f9faf8;
    margin:0;
    line-height: 0.8;
}

#hero-maintext span{
    font-size: 40px;    
    font-family: "Poppins", serif;
    font-weight: normal;          
    color: #f9faf8;
    margin:0;
    color:#3882f6;
}

 
.hero-img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(148, 147, 147, 0.453);
}

img{
    width: inherit;
    height: inherit;
    border: 4px double white;
}

#button1, #button2{
background-color: #3882f6;
padding:8px 30px;
border-radius:10px;
font-weight: bold;
font-size:20px;
 
}

#button1:link,input#button2:link
{
     background-color: #13ff91;
}

#button1:visited, input#button2:visited{
    background-color: #ffac13;
}

#button1:hover, input#button2:hover{
   color: rgb(1, 1, 1);
 
}
#main-about{
 background-color: #e5e7eb; 
 padding:40px 0  80px;  
}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 720px;
    margin:auto;
}
#about h2{
    font-size:36px;
    margin:40px;
}

#details{
    text-align: justify;
    font-size: 20px;
}
#main-p{
    text-align: center;
    font-size: 36px;
    color:#ffffff;
    font-weight: 900;
    margin:60px 0px;
}

.main-content{
    display: flex;
    justify-content: center;
    gap:80px;
    margin:80px 0px 120px;
    
}
 
.contentbox{
    width:200px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.contentbox p{
    text-align: center;
}

.contentbox  img{
    border:5px solid blue;
    border-radius:15px ;
    height:200px;
    padding:3px;
    margin-bottom: 10px;
}
 
.main-section2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding:150px 0px;
}

.testimonial{    
    display: flex;
    flex-direction: column;
    gap:40px;
    color:#1f2937;
    justify-content: center;
    align-items: center;
    width: 700px;
}

#quote{    
    font-size: 36px;
    font-style: italic;   
    text-align: justify;
}

#author{
font-size: 36px;
font-weight: bold;
}

.testimonial p{
    display: flex;
    justify-content: flex-end;
}
.cta
{
    background-color: #3882f6;
    color:white;
    margin:  100px 250px ; 
    padding:50px 200px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.cta h2{
    margin:0 0 10px;

}

.cta-innerdiv{
    display: flex;
    flex-direction: column;
}

.cta-innerdiv ul{
    list-style-type: none;
    margin:0;
    padding:10;
    line-height: 1.6;
    font-size: 20px;
}

.cta p{
    margin-bottom: 20px;
}
.cta #button2   {
    border:3px solid white;
    color:white;
    padding:10px 40px;
    border-radius: 10px;
    background-color: #3882f6;
    font-size:20px;
    font-weight: bolder;
}

footer div{
    padding:40px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap:10px;
}

 